
/* FORM BUTTON STUFF */


.form-button{
  position:fixed;
  z-index: 200;
  bottom: 10vh;
  right:5vw;
  background-color: white;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0;
  line-height: 60px;  
  width:60px;
  height:60px;

  border-radius: 30px;
  transition: transform 0.2s ease-in;

  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
}
.form-button.open{
  transform: rotate(45deg);
}

.form-button h1{
  font-family: Arial, Helvetica, sans-serif;
    
  font-size: 35px;
  color:grey;
}

/* FORM CONTAINER */
.form-container{
  display:none;
}

.form-container.open{
  display: flex;
  flex-direction: column;
  position:fixed;
  z-index: 200;
  bottom: 10vh;
  right:10vw;

  min-height: 400px;
  min-width: 300px;
  border-radius: 30px;

  padding:3rem;

  background-color: white;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);

}

.form{
  display: flex;
  flex-direction: column;

}
.form p{
  margin:1rem 0rem;
}

.submitButton{

  margin-top: 3em;
  background: white;

  display :inline-block;
  padding:0.35em 1.2em;
  border:.2em solid #EC008C;

  border-radius:0.5em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto Condensed',sans-serif;
  font-weight:500;
  color:#EC008C;
  text-align:center;
  transition: all 0.2s;

  height:3em;
  cursor: pointer;
}

.submitButton:active,
.submitButton:hover{
  color:white;
  background-color: #EC008C;
}

.form-title{
  font-size: 2em;
}

input{
  padding:.5em;
}
