.footbar{
  position:fixed;
  bottom:0;
  width: 100%;
  text-align: center;
  color:white;
  padding:2rem;
  font-size: 12px;
}
.footbar-a{
  text-decoration: none;
  list-style: none;
}

.footbar-a:hover,
.footbar-a:active,
.footbar-a:after{
  color:white;
}

.footbar-logo{
  height:25px;
  width:auto;
}